@page
@using PizzaParlor.Data
@model IndexModel
@{
    ViewData["Title"] = "Pizza Parlor";

}

<div class="text-center">
    <h1 class="display-4">Welcome to the Pizza Parlor</h1>


</div>
<form>
    <input type="text" name="SearchTerms" value="@Model.SearchTerms" /> 
    <input type="submit" value="Search" /> <br />

    <div>
        Price: <br />
       Min: <input name="MinPrice" type="number" min="0" max="100" step="0.01" placeholder="min" value="@Model.MinPrice" />       
       Max: <input name="MaxPrice" type="number" min="0" max="100" step="1" placeholder="max"value="@Model.MaxPrice" />
    </div>
    <div>
        Calories: <br />
        Min: <input name="MinCalories" type="number" min="0" max="10000" step="1" placeholder="min" value="@Model.MinCalories"/>
        Max: <input name="MaxCalories" type="number" min="0" max="10000" step="1" placeholder="max" value="@Model.MaxCalories" />
    </div>    
     
</form>

<h1 id="pizzas"> Pizzas </h1>
@foreach (IMenuItem item in Menu.FilterByPrice(Menu.FilterByCalories(Menu.FilterBySearchTerms(Menu.Pizzas, Model.SearchTerms), Model.MinCalories, Model.MaxCalories), Model.MinPrice, Model.MaxPrice))
{
    <button class= "menu-item">
        @item.Name.ToString()
        
        @foreach(string s in item.SpecialInstructions)
        {
            <h3 class = "item-instructions">@s</h3>
        }
         <div class="item-details">
            $@item.Price<br>            
            @item.CaloriesPerEach Calories
         </div>  
        
        
    </button>
}
<h1 id="sides"> Sides </h1>
@foreach (IMenuItem item in Menu.FilterByPrice(Menu.FilterByCalories(Menu.FilterBySearchTerms(Menu.Sides, Model.SearchTerms), Model.MinCalories, Model.MaxCalories), Model.MinPrice, Model.MaxPrice)) 
{
    <button class= "menu-item">
        @item.Name.ToString()
        
        @foreach(string s in item.SpecialInstructions)
        {
            <h3 class = "item-instructions">@s</h3>
        }
         <div class="item-details">
            $@item.Price<br>            
            @item.CaloriesPerEach Calories
         </div>  
        
        
    </button>
}
<h1 id="drinks"> Drinks </h1>
@foreach (IMenuItem item in Menu.FilterByPrice(Menu.FilterByCalories(Menu.FilterBySearchTerms(Menu.Drinks, Model.SearchTerms), Model.MinCalories, Model.MaxCalories), Model.MinPrice, Model.MaxPrice))
{
    <button class= "menu-item">
        @item.Name.ToString()
        
        @foreach(string s in item.SpecialInstructions)
        {
            <h3 class = "item-instructions">@s</h3>
        }
         <div class="item-details">
            $@item.Price<br>            
            @item.CaloriesPerEach Calories
         </div>  
        
        
    </button>
}